body {
	background: #f1f1f1;
}
@media (min-width: 200px) {
	.navbar-header{
		float: left;
	}
	.navbar-right {
		float: right !important;
		margin-right: -15px;
	}
	.navbar-nav > li {
		float: left;
	}
	.navbar-nav > li > a {
		padding-top: 19.5px;
		padding-bottom: 19.5px;
	}
	.navbar-nav {
		margin:0;
	}
}
#appContainer {
	padding-top: 80px;
}
.row.marketing {
	margin: 0 auto;
	max-width: 900px;
}
.video-detail, .media-list {
	background: #fff;
	padding-top: 20px 0;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.video-detail {
	padding: 20px;
}
li.media {
	padding: 20px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin: 0;
}
li.media p {
	font-size: 12px;
}
.comments .panel {
	margin: 5px 0;
}
.navbar-inverse {
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	/*position: relative;
	color: black;
}
.navbar-inverse:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;*/
	background-color: #cd1a1a;
	background-image: linear-gradient(45deg, #cd1a1a, #cb1a70);
}
.navbar-inverse .navbar-nav > li > a {
	color: #f9d2d2;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #b01717;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #b01717;
}
a, a:hover {
	color: #333;
}
a h4, a:hover h4 {
	color: #167ac6;
}
